# NOTE: Copy this file to the root Grenade directory and 
# rename it devstack.localrc for it to work properly.
# All the values set up in this file will be appended at the
# bottom of the devstack.localrc.base and devstack.localrc.target files

# if you already have a DATABASE and RABBIT setup on this system
# from previous runs, uncomment the following lines with the
# appropriate passwords for override.
#DATABASE_PASSWORD=pass
#RABBIT_PASSWORD=pass

# Replication of gate configuration. Below helps you get to a
# configuration that looks a lot like what we use in the gate
USE_SCREEN=False

# If you need specific interfaces for nova network, specify them here
#VLAN_INTERFACE=eth1

# Neutron needs a lot of manual hand holding to get rolling, we
# specify a lot of config in the gate in neutron jobs related to
# networks. 
Q_USE_DEBUG_COMMAND=True
NETWORK_GATEWAY=10.1.0.1
FIXED_RANGE=10.1.0.0/20
FLOATING_RANGE=172.24.5.0/24
PUBLIC_NETWORK_GATEWAY=172.24.5.1

# Swift is being enabled in the base and target directories, you
# could override this behavior by uncommenting the following line
#disable_service s-proxy s-object s-container s-account

# Heat services are not installed by default, you can enable them
# by uncommenting the following line
#enable_service heat h-api h-api-cfn h-api-cw h-eng

